.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 5px;

  &:hover {
    background-color: var(--hover-color);
  }
}

.selected {
  background-color: var(--selected-color);
  cursor: default;
}

.selected .buttons {
  opacity: 1;
  height: 40px;
  margin-top: 5px;
  gap: 10px;
}

.buttons {
  display: flex;
  transition: all 250ms ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
